body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.contrainer{
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.Boxcontainer{
    background: #e9cb08;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.uno {
    background: #8465a0;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}